body {
    background: url("images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff !important;
}
.main-container {
    padding-bottom: 30px;
    margin-top: 70px;
}

.panel {
    border: none !important;
}
.panel-body {
    color: #3b332f !important;
}
.panel-heading {
    background-color: #665851 !important;
    color: #fff !important;
    border: none !important;
}

.navbar-inverse {
    background-color: #3b332f !important;
    border-color: #4a3f3a !important;
}
.navbar-inverse .navbar-nav .active a {
    color: #fff !important;
    background-color: #665851 !important;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav a {
    color: #d4cdc9 !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav a:hover {
    color: #fff !important;
}

h3 {
    /*margin-top: 90px !important;*/
    margin-bottom: 35px !important;
    text-shadow: 0 5px 10px rgba(0,0,0,.6);
}
.panel,
.form-control {
    background: rgba(255,255,255,.9) !important;
}
.btn {
    border: none !important;
    transition: all .1s;
}
.btn-default {
    color: #fff !important;
    background-color: #665851 !important;
}
.btn-default:hover {
    background-color: #3b332f !important;
}
.btn:focus {
    outline: none !important;
}
.panel,
.form-control,
.btn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.panel .form-control {
    box-shadow: none !important;
}
.control-label,
#feedback {
    text-shadow: 0px 5px 10px rgba(0,0,0,.6);
}
.panel .control-label {
    text-shadow: none;
}
.left-align {
    text-align: left !important;
}
.has-error .form-control {
    background-color: rgba(255, 235, 225, 0.9) !important;
}
#feedback {
    color: #a94442;
    text-align: center;
    margin-bottom: 15px;
    opacity: 0;
}
#feedback.show {
    opacity: 1;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(51,51,51,.9);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 70px;
}
#snackbar.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 70px; opacity: 1;}
}
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 70px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {top: 70px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes fadeout {
    from {top: 70px; opacity: 1;}
    to {top: 0; opacity: 0;}
}